

$primary   : #009000;
$secondary : #333333;
$accent    : #333333;

$dark      : #424242;
$dark-page : #666666;

$positive  : #666666;
$negative  : #cac6c6;
$info      : #ededed;
$warning   : #f5f5f5;

